.novoSeven {
        color:#081963;

        }
.tableptext {
padding-bottom:10px;
}


.formText {
    background-color:transparent;
    border:none
}

 .d0{
          background-color:#FF0000;
          color:white;          
      }

    .d1{
          //background-color:#FF0000;
          background-color:#F2F2F2;
          color:white;          
      }

    .d2{
          background-color:#001965;
          color:white;          
      }

     .d3{
          background-color:#99B3FF;
          color:#001965;          
      }

    .d4{
          background-color:#FCDACD;
          color:#001965;          
      }
    
    .flowvalue{
          //background-color:#F2F2F2;
          background-color:#FFFFFF;
          color:#001965;          
      }

    .staProduct{
          background-color:#D5DFFF;
          color:#001965;          
      }

       .sumvalue{
          background-color:#C4EFFF;
          color:#001965;          
      }

.gridLayout {
    margin-top:20px;
}

.hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE;
  border-style: solid none;
  border-width: 1px 0;
  margin: 5px 0;
}

.hidden {
    visibility: hidden;
}

div.DTE_Body div.DTE_Body_Content div.DTE_Field {
    position: relative;
    zoom: 1;
    clear: both;
    padding: 5px 5% 0% 5% !important;
    border: 1px solid transparent;
}


div.DTE_Body div.DTE_Body_Content div.DTE_Field>label {
    float: left;
    width: 30% !important;
    padding-top: 6px;
}


div.DTE_Body div.DTE_Body_Content div.DTE_Field>div.DTE_Field_Input {
    float: right;
    width: 70% !important;
}
    
